.wd-popup.wd-promo-popup {
  background-color: #111111;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left center;
}
.page-title-default {
  background-color: #0a0a0a;
  background-size: cover;
  background-position: center center;
}
.footer-container {
  background-color: #ffffff;
}
:root {
  --wd-text-font: "hkgroteskpro", Arial, Helvetica, sans-serif;
  --wd-text-font-weight: 400;
  --wd-text-color: #777777;
  --wd-text-font-size: 14px;
  --wd-title-font: "hkgroteskpro", Arial, Helvetica, sans-serif;
  --wd-title-font-weight: 600;
  --wd-title-color: #242424;
  --wd-entities-title-font: "hkgroteskpro", Arial, Helvetica, sans-serif;
  --wd-entities-title-font-weight: 600;
  --wd-entities-title-color: #333333;
  --wd-entities-title-color-hover: rgb(51 51 51 / 65%);
  --wd-alternative-font: "Lato", Arial, Helvetica, sans-serif;
  --wd-widget-title-font: "hkgroteskpro", Arial, Helvetica, sans-serif;
  --wd-widget-title-font-weight: 600;
  --wd-widget-title-transform: uppercase;
  --wd-widget-title-color: #333;
  --wd-widget-title-font-size: 16px;
  --wd-header-el-font: "hkgroteskpro", Arial, Helvetica, sans-serif;
  --wd-header-el-font-weight: 500;
  --wd-header-el-transform: uppercase;
  --wd-header-el-font-size: 13px;
  --wd-primary-color: #AAD0EB;
  --wd-alternative-color: #fbbc34;
  --wd-link-color: #333333;
  --wd-link-color-hover: #242424;
  --btn-default-bgcolor: #f7f7f7;
  --btn-default-bgcolor-hover: #efefef;
  --btn-shop-bgcolor: #AAD0EB;
  --btn-shop-bgcolor-hover: #9BBED6;
  --btn-accent-bgcolor: #AAD0EB;
  --btn-accent-bgcolor-hover: #9BBED6;
  --notices-success-bg: #459647;
  --notices-success-color: #fff;
  --notices-warning-bg: #E0B252;
  --notices-warning-color: #fff;
}
	:root{
	
	
			--wd-form-brd-radius: 0px;
	
	--wd-form-brd-width: 1px;

	--btn-default-color: #333;
	--btn-default-color-hover: #333;

	--btn-shop-color: #fff;
	--btn-shop-color-hover: #fff;

	--btn-accent-color: #fff;
	--btn-accent-color-hover: #fff;
			--btn-default-brd-radius: 0px;
		--btn-default-box-shadow: none;
		--btn-default-box-shadow-hover: none;
		--btn-default-box-shadow-active: none;
		--btn-default-bottom: 0px;
	
			--btn-shop-brd-radius: 0px;
		--btn-shop-box-shadow: none;
		--btn-shop-box-shadow-hover: none;
		--btn-shop-box-shadow-active: none;
		--btn-shop-bottom: 0px;
	
			--btn-accent-brd-radius: 0px;
		--btn-accent-box-shadow: none;
		--btn-accent-box-shadow-hover: none;
		--btn-accent-box-shadow-active: none;
		--btn-accent-bottom: 0px;
	
	
	
	
	
	
	
	
	
		}

	/* Site width */
		/* Header Boxed */
	@media (min-width: 1025px) {
		.whb-boxed:not(.whb-sticked):not(.whb-full-width) .whb-main-header {
			max-width: 1192px;
		}
	}

	.container {
		max-width: 1222px;
	}
	
	
	@media (min-width: 1222px) {

		[data-vc-full-width]:not([data-vc-stretch-content]) {
			padding-left: calc((100vw - 1222px) / 2);
			padding-right: calc((100vw - 1222px) / 2);
		}

		.platform-Windows [data-vc-full-width]:not([data-vc-stretch-content]) {
			padding-left: calc((100vw - 1239px) / 2);
			padding-right: calc((100vw - 1239px) / 2);
		}
	}

	
/* Quick view */
div.wd-popup.popup-quick-view {
	max-width: 920px;
}

/* Shop popup */
div.wd-popup.wd-promo-popup {
	max-width: 800px;
}

/* Age verify */
div.wd-popup.wd-age-verify {
	max-width: 500px;
}

/* Header Banner */
.header-banner {
	height: 40px;
}

body.header-banner-display .website-wrapper {
	margin-top:40px;
}

/* Tablet */
@media (max-width: 1024px) {
	/* header Banner */
	.header-banner {
		height: 40px;
	}
	
	body.header-banner-display .website-wrapper {
		margin-top:40px;
	}
}

.woodmart-woocommerce-layered-nav .wd-scroll-content {
	max-height: 280px;
}
		
		rs-slides [data-type=text],
rs-slides [data-type=button] {
	font-family: hkgroteskpro !important;
}
	
		rs-slides h1[data-type=text],
rs-slides h2[data-type=text],
rs-slides h3[data-type=text],
rs-slides h4[data-type=text],
rs-slides h5[data-type=text],
rs-slides h6[data-type=text] {
	font-family: hkgroteskpro !important;
}
			@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: "woodmart-font";
	src: url("//localhost/wordpress/wp-content/themes/woodmart/fonts/woodmart-font.woff2?v=6.1.3") format("woff2"),
	url("//localhost/wordpress/wp-content/themes/woodmart/fonts/woodmart-font.woff?v=6.1.3") format("woff");
}

@font-face {
	font-family: "hkgroteskpro";
	src: url("//localhost/wordpress/wp-content/uploads/2018/06/hkgroteskpro-regular.woff2") format("woff2"), 
url("//localhost/wordpress/wp-content/uploads/2018/06/hkgroteskpro-regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "hkgroteskpro";
	src: url("//localhost/wordpress/wp-content/uploads/2018/06/hkgroteskpro-medium.woff2") format("woff2"), 
url("//localhost/wordpress/wp-content/uploads/2018/06/hkgroteskpro-medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "hkgroteskpro";
	src: url("//localhost/wordpress/wp-content/uploads/2018/06/hkgroteskpro-semibold.woff2") format("woff2"), 
url("//localhost/wordpress/wp-content/uploads/2018/06/hkgroteskpro-semibold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "hkgroteskpro";
	src: url("//localhost/wordpress/wp-content/uploads/2018/06/hkgroteskpro-bold.woff2") format("woff2"), 
url("//localhost/wordpress/wp-content/uploads/2018/06/hkgroteskpro-bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}

